@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400&display=swap');

:root {
  --gray: #24394e;
  --dark: #0c131b;
  --blue: #2ab7ff;
  --radius:2.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 62.5%;
  color: white;
  background-color: var(--dark);
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
body {
  line-height: 1.6;
  font-size: 1.5rem;
}
img,
picture,
video,
canvas,
svg {
 max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
button {
  border: none;
}

h1 {
  font-size: 6rem;

}

h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.1rem;
  font-weight: normal;
}
h4 {
  font-size: 1.8rem;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
h1{font-size: 4rem;}
h2{font-size:2rem ;}
h3{font-size:1.8rem ;}
h4{font-size:1.5rem ;}
p{font-size: 1.2rem;}
  
}
/* NAVIGATION */
.ham-btn {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .4em;
  background-color: var(--blue);
  width: 5rem;
  height: 5rem;
  padding:.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.ham-btn .btn-line {
  width: 80%;
  height: 3px;
  /* margin: 0 0 5px 0; */
  background: #fff;
  transition: all 0.5s ease-out;
}
.ham-btn.close {
  transform: rotate(360deg);
}
.ham-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(8px, 4px);
}
.ham-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.ham-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -5px);
}

.nav-links{
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--gray);
  padding:1em;
  font-size: 3rem;
  border-radius: 2.5em;
  cursor: pointer;
  transition: all 1s ease-in-out;

}

/* /////////////// */

/* HOME */

@media only screen and (min-width: 1200px) {
  .xl-container {
    display:flex;
    justify-content: space-between;
    width: 80%;
    /* max-width: 1280px; */
    height: 80vh;
    background-color: var(--gray);
    margin: 10vh auto;
  border-radius: var(--radius);
  }
  .container {
    display:block;
    width: 80%;
    height: 100%;
    background: var(--dark);
    border-radius: var(--radius);
  }

.profile.flex-col{
  /* width: 20%; */
  padding: 1.5em;
  gap: .5em;
}
  .profile-photo{
    width: 150px;
  
  }
  .profile-photo img{
    border-radius: 50%;
       background-color: white;
  box-shadow: 0 10px 20px 5px rgba(255, 255, 255, 0.5);
  }
.profile .icon-container a {
  width: 30%;
  font-size: 2rem;
  margin: 0 1rem;

}


}

@media screen and (max-width: 1199px) {
  .container{
    display: block;
        width: 100%;
      height: 100vh;
      background: var(--dark);
  }

}
/* Home Page */
.home.content{
  padding: 4em;
}
.home .icon-container{
  gap: 1em;
}
.home .icon-container .icon{
  font-size: 5rem;
}


/* //////////// */