@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400&display=swap");

:root {
  /* --gray: #24394e; */
  --gray: #15648f;
  --dark: #000b1b;
  --accent: rgb(0, 255, 174);
  --radius: 2.5em;
  --shadow: 0 0px 20px 2px var(--accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", Helvetica, sans-serif;
  overflow: hidden;
  font-size: 62.5%;
  color: white;
  background-color: rgb(2, 57, 61);
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
body {
  line-height: 1.6;
  font-size: 1.5rem;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
button {
  border: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.1rem;
  font-weight: normal;
}
h4 {
  font-size: 1.8rem;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}
/* NAVIGATION */
.ham-btn {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  background-color: var(--gray);
  width: 5rem;
  height: 5rem;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.ham-btn .btn-line {
  width: 80%;
  height: 3px;
  /* margin: 0px 0px 0px -4px; */
  background: #fff;
  transition: all 0.5s ease-out;
}
.ham-btn.close {
  transform: rotate(90deg);
  /* border: none;/ */
  box-shadow: none;
}
.ham-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(8px, 5px);
  margin: 0px 0px 0px -4px;
}
.ham-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.ham-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -5px);
  margin: 0px 0px 0px -4px;
}
.ham-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 50%;
  height: 100%;
  padding-top: 3em;
  background-color: var(--gray);
  z-index: 1;
  translate: 100%;
  transition: all 1s ease-in-out;
}
.ham-menu.show{
  translate: 0;
}
.ham-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}
.ham-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.2rem;
  width: 100%;
}
.ham-links li {
  width: 100%;
  padding: 1em 0;
  cursor: pointer;
}
.ham-links :hover{
  background-color: var(--accent);
  color: var(--dark) ;
}
.ham-links .active{
  color: var(--accent);
}
.ham-links li:hover .active{
  color: var(--dark) !important;
}
.nav-links {
  position: absolute;
  z-index: 3;
  right: 50px;
  /* top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--gray);
  font-size: 3rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  height: 0;
  /* padding: 2em; */
  /* font-size: 0; */
  transition: all 1s ease-in-out;
  animation: show-nav 2s ease-in-out forwards;
}
.link.fade-in {
  /* opacity: 0; */
  animation: fadeIn 1s ease-in 2s forwards;

  /* animation-delay: 2s; */
}
@keyframes show-nav {
  from {
    height: 0;
    padding: 0;
  }
  to {
    height: 30rem;
    padding:.8em;
  }
}

.nav-links .active {
  color: rgb(0, 255, 174);
}
.nav-links li:hover {
  color: var(--accent);
}
.link-container {
  position: relative;
}
.link-text {
  background-color: var(--accent);
  color: white;
  font-size: 2rem;
  padding: 0 0.5em;
  border-radius: 0.2em;
  opacity: 0;
  position: absolute;
  top: 6px;
  right: 2.7em;
  translate: -50%;
  transition: all 1s ease;
}
.link {
  cursor: pointer;
}

.link-container:hover .link-text {
  opacity: 1;
  translate: 0;
}

/* /////////////// */

/* HOME */

@media only screen and (min-width: 1200px) {
  .xl-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* max-width: 1280px; */
    height: 80vh;
    background-color: var(--gray);
    margin: 10vh auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
  .container {
    display: block;
    width: 80%;
    height: 100%;
    background: var(--dark);
    border-radius: var(--radius);
  }

  .profile.flex-col {
    /* width: 20%; */
    padding: 1.5em;
    gap: 0.5em;
  }
  .profile-photo {
    width: 150px;
  }
  .profile-photo img {
    border-radius: 50%;
    background-color: white;
    box-shadow: var(--shadow);
  }
  .profile .icon-container a {
    width: 30%;
    font-size: 2rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    display: block;
    width: 100%;
    height: 100vh;
    background: var(--dark);
  }
  .profile.flex-col {
    /* width: 20%; */
    padding: 1.5em;
    gap: 0.5em;
  }
  .profile-photo {
    width: 150px;
  }
  .profile-photo img {
    border-radius: 50%;
    background-color: white;
    box-shadow: var(--shadow);
  }
  .profile .icon-container a {
    width: 30%;
    font-size: 2rem;
    margin: 0 1rem;
  }
}
/* Home Page */
.home.content {
  padding: 4em;
}
.home .icon-container {
  gap: 1em;
}
.home .icon-container .icon {
  font-size: 5rem;
}

/* //////////// */
