/* MEDIA QUERIES */
/* large screens */
@media only screen and (min-width: 1200px) {
}
/* tablets */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablets */
}
/* mobile */
@media screen and (max-width: 767px) {
  /* Styles for phones */
}
/* tab below */
@media screen and (max-width: 1199px) {
}
/* /////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");

/* :root {
  --gray: #24394e;
  --dark: #0c131b;
  --blue: #2ab7ff;
  --radius: 2.5em;
} */
/* display */
@media screen and (max-width: 1199px) {
  /* tab below */
  #hidden-tab {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  /* desktop */
  #hidden-desktop {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  #hidden-mobile {
    display: none;
  }
}
/* ///// */
/* positioning */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////// */

/* text */
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.text-center {
  text-align: center;
}
.no-white-space {
  white-space: nowrap;
}
/* /////// */

/* flex and grid */
.flex-imp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
/*/////////////  */

/* ICONS */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html5 {
  color: orangered;
}

.css3 {
  color: #4165af;
}

.react {
  color: #58c5ee;
}

.js {
  color: #f7de1f;
}
/* ////// */
/* ANIMATIONS */
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation-fill-mode: forwards;
}

.typed-1 {
  animation: typing 3s steps(30, end) 0s 1 normal forwards,
    blinking 1s 3s infinite;
}

.typed-2 {
  animation: typing 3s steps(30, end) 3s 1 normal forwards,
    blinking 1s 6s infinite;
}

@keyframes typing {
from {
    width: 0;

  }
 to {
    width: 100%;

  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: var(--blue);
  }
  100% {
    border-right-color: transparent;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home .icon-container.fade-in{
  transform: translateY(50px);
   animation: descendFadeIn 2s ease-in 3s forwards;
}

 @keyframes descendFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);

   
  }
  to {
    opacity: 1;
    transform: translateY(0);
   
  }
  
}


/* ////////// */
